<%= form_for(@endangered_specy) do |f| %>
  <% if @endangered_specy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@endangered_specy.errors.count, "error") %> prohibited this endangered species from being saved:</h2>

      <ul>
      <% @endangered_specy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :candidate %><br>
    <%= f.check_box :candidate %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
