<%= form_for(@extinction) do |f| %>
  <% if @extinction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@extinction.errors.count, "error") %> prohibited this extinction from being saved:</h2>

      <ul>
      <% @extinction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :animal_name %><br>
    <%= f.text_field :animal_name %>
  </div>
  <div class="field">
    <%= f.label :approx_extinction_at %><br>
    <%= f.text_field :approx_extinction_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
