<h2>Sample CRUD</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Animal name</th>
      <th>Approx extinction at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @extinctions.each do |extinction| %>
      <tr>
        <td><%= extinction.animal_name %></td>
        <td><%= extinction.approx_extinction_at %></td>
        <td><%= link_to 'Show', extinction %></td>
        <td><%= link_to 'Edit', edit_extinction_path(extinction) %></td>
        <td><%= link_to 'Destroy', extinction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Extinction', new_extinction_path %>
